.user_page{
    .content{
        position: relative;
        display: flex;
        left: 300px;

        .login_register{
            position: relative;
            display: flex;
            flex-direction: column;
            .submit{
                position: relative;
                margin: 15px;
                left: 30px;
            }
        }
    }
}